:root {
  --primary: #7b68ee;
  --background-color-secondary: #fff;
  --background-color: #f1f4f7;
  --main-gap: 30px;
}
/* mediumslateblue 1e90ff 7b68ee*/

@font-face {
  font-family: "Radio_Canada";
  src: url("./assets/fonts/Radio_Canada/RadioCanada-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "Radio_Canada_italic";
  src: url("./assets/fonts/Radio_Canada/RadioCanada-Italic-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "SedanSC";
  src: url("./assets/fonts/Sedan_SC/SedanSC-Regular.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
.content-body h1 {
  /* font-family: "Radio_Canada";*/
  color: var(--primary);
}

* {
  font-family: Calibri, sans-serif;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  /*font-size: 100%;*/
  line-height: inherit;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: flex;
  width: 100%;
  padding: var(--main-gap);
  justify-content: space-between;
}

.nav-bar {
  width: fit-content;
  background-color: var(--background-color-secondary);
  position: relative;
  width: 7%;
  border-radius: 10px;
  display: flex;
  padding: 0 13px;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.nav-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px #c6d7e9;
  margin: 10px auto;
  text-align: center;
  width: 100%;
}

.nav-list li > span {
  margin-top: 7px;
}

.nav-list img {
  width: 55%;
}
/*
.nav-list li:first-child {
  margin-left: 0px;
}
*/

.about-container {
  width: 22%;
  background-color: var(--background-color-secondary);
  border-radius: 10px;
}

.about-container-avatar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
  margin: 0px auto 0;
}

.avatar-name-description {
  width: 90%;
  margin: auto auto;
  padding: 0px 20px 10px;
  border-bottom: 2px solid #9cc3e9;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

.avatar-name-description > img {
  width: 100%;
  object-fit: contain;
  /*box-shadow: 0 0 10px 5px #b7d5eb75;*/
}

.shadow {
  width: 90%;
  height: 0px;
  box-shadow: 0 0 10px 15px #fdf8f8;
  z-index: 1;
  position: relative;
  background-color: white;
  margin: 0 auto;
}

.avatar-name-description > h3 {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
  font-family: Radio_Canada;
  position: relative;
  z-index: 2;
}
.avatar-name-description .job-description {
  color: var(--primary);
}

.about-container-avatar .personal-data {
  width: 90%;
  margin: auto;
  border: 2px solid #9cc3e9;
  border-radius: 7px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 17px;
  padding: 0 10px;
}

.about-container-avatar .download-vc {
  width: 80%;
  margin: auto;
  background-color: var(--primary);
  text-align: center;
  color: #fff;
  padding: 9px 0px;
  border-radius: 10px;
}

.about-container-avatar .download-vc:hover {
  background-color: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.download-vc:hover {
  cursor: pointer;
}
/* ---------------------- ABOUT -------------------- */
.content-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(71% - 2 * var(--main-gap));
  background-color: var(--background-color-secondary);
  border-radius: 10px;
  overflow-x: hidden;
  border: 15px solid white;
}

.job-description-text {
  white-space: nowrap;
}

.job-description-text > * {
  display: inline;
  font-size: 40px;
  font-weight: bold;
}

.personal-informations {
  width: 100%;
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #c13aa9;
  padding-bottom: 10px;
}

.personal-informations > p {
  font-size: 16px;
  line-height: 1.7;
  font-family: "Rubik", "Calibri", " sans-serif";
  margin-top: 10px;
  color: grey;
}

/* {ABOUT} Bottom Section */

.bottom-section {
  position: relative;
  align-items: end;
  width: 2640px;
  background-color: #fff;
  overflow: hidden;
  border-top: 1px dashed #1e8fffc4;
  border-bottom: 1px dashed #1e8fffc4;

  padding: 10px 0;
}

.bottom-icon-image-wrap {
  display: flex;
  overflow: hidden;
  width: max-content;
  height: 50px;
}

.bottom-icon-image-wrap > div {
  display: flex;
  position: absolute;
}
.bottom-icon-image-wrap img {
  width: 50px;
  margin-right: 70px;
  border: 1px solid #edece8;
  border-radius: 4px;
  padding: 5px;
  background-color: #f3f2f2;
  box-shadow: 2px 2px 15px 0.1px #c2d7eb;
}

.bottom-section p {
  white-space: nowrap;
  align-items: center;
  font-weight: bold;
  font-size: large;
}

/* {ABOUT} contact-data */

.content-body .contact-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  font-size: 14.5px;
  font-family: monospace;
}

.contact-data ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.handled-projects {
  width: 29%;
  margin: 0 auto;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
}
.handled-projects .linearGradient {
  background-color: #fff;
  padding: 8px 0;
}

.handled-projects h2 {
  font-family: Arial, sans-serif;
  font-size: x-large;
  margin-bottom: 8px;
}

.handled-projects b {
  font-size: 28px;
  color: var(--primary);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 5px;
}
.resume-protofolio-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.resume-protofolio-buttons button {
  width: 150px;
  height: 40px;
  border: 1px solid #7b68ee;
  background-color: #fff;
  color: #7b68ee;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px 20px;
}

.resume-protofolio-buttons button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
}

.contact-data * {
  font-family: "Radio_Canada";
  color: gray;
}

/* media 1100 */

@media (max-width: 1300px) {
  :root {
    --main-gap: 20px;
  }
  .about-container {
    width: 24%;
  }

  .content-body {
    width: calc(67% - 2 * var(--main-gap));
  }
  .nav-bar {
    width: 9%;
    padding: 0 10px;
  }
  .nav-list li {
    font-size: 14px;
    margin: 7px auto;
  }

  .job-description-text > * {
    display: inline;
    font-size: 35px;
    font-weight: bold;
  }

  .personal-informations > p {
    font-size: 15px;
  }
  .content-body .contact-data {
    font-size: 13.5px;
  }
  .handled-projects h2 {
    font-size: large;
  }
  .handled-projects b {
    font-size: 23px;
  }

  .avatar-name-description h3 {
    font-size: 15.5px;
  }

  .avatar-name-description {
    width: 100%;
    padding: 0 10px 5px;
  }

  .bottom-icon-image-wrap img {
    width: 45px;
  }
  .bottom-section {
    padding: 4px 0;
  }
  .bottom-icon-image-wrap {
    align-items: center;
  }
  .personal-data {
    font-size: 14.5px;
  }
  .personal-informations {
    height: 26%;
  }
}

@media (max-width: 1000px) {
  .about-container {
    width: 28%;
  }
  .content-body {
    width: calc(72% - 1 * var(--main-gap));
  }

  .nav-bar {
    position: fixed;
    margin-left: calc(100% - 120px);
    box-shadow: 0 0 4px var(--primary);
  }
  /*
  .nav-list {
    width: 9%;
    background-color: #fff;
    border: 1px solid;
  }*/
}
